.img-box {
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  border: 15px solid rgb(255, 167, 72);
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.name {
  width: 300px;
  height: 100px;
  margin: 60px auto;
  background-color: #ffffff;
  border: 15px solid rgb(255, 167, 72);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.start {
  color: rgb(147, 102, 74);
  width: 100px;
  height: 30px;
  margin: 15px auto;
}
.stop {
  color: rgb(147, 102, 74);
  width: 100px;
  height: 30px;
  margin: 15px;
}

table {
  margin: 40px auto;
}

.swiper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  animation: loop 1s infinite linear 0s both;
  animation-play-state: running;
}

@keyframes loop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80%);
  }
}

.image {
  animation-play-state: paused;
}

img {
  width: 500px;
  height: 500px;
}

.name {
  color: rgb(167, 117, 37);
  line-height: 100px;
  font-size: 50px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
